Package: unixodbc-dev
Source: unixodbc
Version: 2.3.6-0.1
Architecture: amd64
Maintainer: Steve Langasek <vorlon@debian.org>
Installed-Size: 52796
Depends: libodbc1 (= 2.3.6-0.1), odbcinst1debian2 (= 2.3.6-0.1), libltdl-dev
Conflicts: libiodbc2-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.unixodbc.org/
Description: ODBC libraries for UNIX (development files)
 This package contains the development files (headers and libraries) for
 unixODBC, an implementation of the Open DataBase Connectivity interface
 for Unix systems.  You should not need to install this package unless
 you intend to develop C language applications which use ODBC, or to
 compile ODBC-using applications from source.
